/* @font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Medium.otf) format("opentype");
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

.ck-editor__editable_inline {
  min-height: 400px;
}
.templateForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.templateForm > label {
  padding: 5px;
}
.templateForm > input {
  width: 87%;
  border: none;
  outline: none;
  padding: 5px;
}
